


.category-card {
    width: 30vh;
    height:15vh;
    /* background-color: rgb(231, 159, 195);  */
    align-content: center;
    background-image: linear-gradient(rgb(99, 129, 227),rgb(98, 201, 105));
    border: 1px solid rgb(204, 240, 241);
    -webkit-transition : border 500ms ease-out;
    -moz-transition : border 500ms ease-out;
    -o-transition : border 500ms ease-out;
    transition : border 10ms ease-out;
    border-radius: 10px;
    
}

.category-card:hover {
    border: 4px solid rgb(26, 42, 119);
   
}

img {
    width: 25%;
    height: 10%;
    
}

.no-underline{
    text-decoration: none;
    color: inherit;
}